textarea, 
button, 
label, 
input {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

textarea {
    padding: 10px;
}

input, button {
    height: 35px;
    font-size: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

h3 {
    text-align: center;
    margin: 10px 0;
}

#add_comment, 
#verify_comment,
#block_all_comments {
    width: 400px;
    position: relative;
    margin: 0 auto;
    
}

.error {
    height: 20px;
    color:  red;
    font-size: 16px;
    margin-bottom: 10px;
}


.error_input {
    background-color: rgb(235, 175, 180);
    border-color: red;
}

.checked_input {
    background-color: rgb(175, 235, 195);
    border-color: green;
}

#add_comment_button,
#remove_comment_button {
    width: 45%;
}

.flex_button {
    display: flex;
    justify-content: space-between;
}

#info_about_comment {
    height: 100px;
}

#info_about_comment p,
#all_comments p {
    margin: 0;
    font-size: 18px;
}

label {
    font-size: 18px;
}

#all_comments div {
    margin: 10px;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px;
}